:root {
    --primary-text-color:#2E2F42;
    --title-text-color:#434455;
    --accent-color:#4D5AE5;
    --accent-color-hard:#404BBF; 
    --hero-light-accent: #FFFFFF;
    --rerely-color:#E7E9FC;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*== section header =========================================*/

.page-header {

    border-bottom: 1px solid var(--rerely-color)
}
/*== content header ==*/

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--accent-color);
}
.logo-stu-header {
    color: var(--primary-text-color);
}
.menu-nav-head {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--primary-text-color)
}
.address-post, 
.contact-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color:var(--title-text-color);
}
/*===========================body===========================*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color)
    background-color: var(--hero-light-accent);

}
/*+++++++ content all body +++++++*/
/* little subtitle */
.sutitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* middle subtitle */
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color:var(--title-text-color);
    letter-spacing: 0.02em;
}
/* chenge text color */
.change:hover, 
.change:focus {
    color:var(--accent-color);
}

/*== section HERO ===========================================*/
.hero {
    background-color: var(--primary-text-color);
}
/*+++++++ content HERO +++++++*/
/* big subtitle */
.hero-coll {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--hero-light-accent);
    text-align: center;
    letter-spacing: 0.02em;
}
.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    color:var(--hero-light-accent);
    background-color: var(--accent-color);   

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color-hard);
}

/*== section VALUET =========================================*/ 
.valuet {

}
/*== section DOING =========================================*/ 
.valuet {
    background-color: var(--rerely-color)
}

/*== section Team ===========================================*/ 
.team {

}

/*== section footer ========================================*/ 
.footer {
    background-color: var(--primary-text-color);
}
/*+++++++ content FOOTER +++++++*/
.benefist {
    color:var(--rerely-color);
}

.logo-stu-footer {
    color: var(--hero-light-accent);
}


/*2============================ secod page ===============================*/
/*== кнопки меню ==*/
.button-nov {
    background-color: var(--rerely-color);
    color:var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
}
.button-nov:hover,
.button-nov:focus {
    color: var(--hero-light-accent);
    background-color: var(--accent-color);
}
